@import '../variables.scss';

.footer-container {
    display: flex;
    flex-direction: column;
    // border-bottom: 2px solid $darkest-purple;
    height: 200px;
    width: 100%;
    min-height: 200px;
    max-width: 100%;
    border: 1px solid blue;
    position: absolute;
    bottom: -200px;
}

.footer-wrapper {

}
