.carousel {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: none;
}

.video-carousel {
    height: 200px;
}

.index-container h3 {
    font-size: 40px;
    padding-top: 20px;
    margin-left: 30px;
    color: $darkestGray;
}

.student-index-item,
.tutor-index-item {
    width: 250px;
    min-width: 250px;
    height: 350px;
    position: relative;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.student-index-item h2,
.tutor-index-item h2 {
    color: $darkestGray;
    margin-bottom: 10px;
}

.tutor-index-item {
    box-shadow: 0px 0px 4px 4px rgba($darkest-purple, 30%);
}

.tutor-index-item:hover {
    transition: box-shadow .2s;
    box-shadow: 0px 0px 5px 5px rgba(#8985F2, 70%);
}

.student-index-item {
    box-shadow: 0px 0px 5px 5px rgba($yellow, 20%);
}

.student-index-item:hover {
    transition: box-shadow .2s;
    box-shadow: 0px 0px 5px 5px rgba($yellow, 70%);
}

.student-languages li, .tutor-languages li {
    padding: 0 10px;
}

.index-item-image {
    height: 150px;
    width: 150px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.languages {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 175px;
    flex-wrap: wrap;
}

.tutor-language {
    margin-top: 5px;
    margin-left: 5px;
    padding: 3px 7px;
    background: $lighest-purple;
    border-radius: 3px;
    color: $darkestGray;
}

.student-language {
    margin-top: 5px;
    margin-left: 5px;
    padding: 3px 7px;
    background: #F5D679;
    border-radius: 3px;
    color: $darkestGray;
}

