div.login-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  min-height: 800px;

  div.login-form-box{
    height:100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.login-splash {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
  }
}