body {
    background-color: $off-white;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.main-page-container {
    border: 1px solid red;
    margin: 0px 80px;
    height: 100vh;
    display: flex;
}

.main-page-left {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.joinus {
    margin-top: 30px;
    padding: 15px 30px;
}

.main-page-tagline {
    color: $darkest-purple;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 15px;
}

#tagline-codeups {
    color: $darkGray;
    font-size: 40px;
    font-weight: 500;
}

.main-page-right {
    border: 1px solid green;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.splash-photo {
    width: 100%;
    height: auto;
    margin: auto;
    // transform: rotateX(15deg);
    // transform: rotateY(-35deg) rotateX(15deg);
}