@import '../variables.scss';

.nav-bar-container {
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 10px rgba(0,0,0, .25);
    display: flex;
}

.nav-bar-wrapper {
    width: 100%;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 127px;
    height: auto;
}

.searchbar-container{
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:30%;
}
.dropdown{
    display: flex;
    background: #CAC9F2;
    width: 120px;
    padding: 4px 0 4px 0;
    align-items: center;
    border-radius: 6px 0 0 6px;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    color: $darkestGray;
}

.dropdown-btn{
    display: flex;
    margin-top: 6px;
}

.dropdown-icon{
    margin-left: 6px;
    margin-right: 3px;
}
.dropdown-options{
    box-sizing: border-box;
    // padding: 10px;
    width: 100%;
    position: relative;
    margin-top: 11px;
    white-space: nowrap;
    background: white;
    border-radius: 0 0 6px 6px;
    z-index: 1;

}
.dropdown-options .dropdown-item{
    padding: 8px 0px 8px 8px;
    font-size: 14px;
    text-align: left;
    transition: all 0.2s;
    cursor: pointer;
    line-height: 20px;
}

.dropdown-options .dropdown-item:hover {
    background-color: #F5D679;
}

.searchinput{
    width: 300px;
    box-sizing: border-box;
    height: 100%;
    border: none;
    padding: 7px;
}

.searchinput:focus {
    outline: none;
    font-size: 15px;
    color: $darkGray;
    line-height: 15px;
}

.magnifying-glass{
    display: flex;
    align-items: center;
    background: $lighest-purple;
    width:40px;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.fa-magnifying-glass:before {
    color: $darkestGray;
}

.signup {
    margin-right: 40px;
}

.session-buttons {
    background-color: $darkest-purple;
    color: white;
    padding: 10px 13px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.session-buttons:hover {
    background-color: hsl(242, 84%, 64%);
}

.logout {
    font-family: inherit;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}