.reviews-container {
    width: 800px;
    margin: 50px auto;
    color: $darkGray;
    padding-bottom: 30px;

    h2.review-title {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}

