div.signup-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-height: 800px;

  img.signup-splash {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
  }

  div.signup-form-box {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}