div.about-container {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  border-left: 1px solid $darkestGray;

  div.tabs-container {
    width: 100%;
    display: flex;
    flex-direction: row;


    button{
      flex: 1;
      border:none;
      background: $darkest-purple;
      height: 30px;
      cursor: pointer;
      font-family: inter;
      color: $darkestGray;

      &:hover {
        background: $medium-purple;
      }

      &.active {
        background: $lighest-purple;
      }
    }
  }
}