.user-display{
  width: fit-content;
  margin: 0 auto;

  .image-container {
    width:100%;
    position: relative;
    height: 200px;

    img.banner {
      width: 800px;
      height: 100%;
      object-fit: fill;
      // overflow: hidden;
    }

    img.profile-pic {
      width: 150px;
      height: 150px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid black;
      position: absolute;
      bottom: -75px;
      left: 45px;
    }
  }

  div.user-display-info {
    width: 799px;
    min-height: 550px;
    height: fit-content;
    box-sizing: content-box;
    border: 1px solid $darkestGray;
    display: flex;
    flex-direction: row;
  }
}