div.carousel-video-container {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  video.carousel-video {
    width: 400px;
    height: 225px;
  }
}